service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read;
    }

    match /users/{walletId} {
      allow read, create;
    }

    match /stones/{gemId} {
      allow read, create;
      allow update, create: if ('auctionIsLive' in request.writeFields);
      allow update, create: if ('currentPrice' in request.writeFields);
      allow update, create: if ('maxPrice' in request.writeFields);
      allow update, create: if ('minPrice' in request.writeFields);
      allow update, create: if ('deadline' in request.writeFields);
    }
  }
}
