.loader {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 3px solid var(--white);
  border-top: 3px solid var(--success);
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

@-webkit-keyframes spin {
  to {
    border-top-color: var(--danger);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: var(--danger);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* map filter */

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.custom-filter-dropdown button {
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

dt {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
}
dd {
  width: 100px;
  overflow: hidden;
}

dt:after {
  content: ' ..................................................................................';
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  height: auto;
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: var(--dark-gray);
  padding: 16px;

  background-image: url(../images/gembackground.png);
  background-repeat: repeat;
  background-size: 600px;
  /* width: 100%; */
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: var(--dark-gray);
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: var(--dark-gray);
  background: var(--dark-gray);
}
