.loader {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 3px solid var(--white);
  border-top: 3px solid var(--success);
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

@-webkit-keyframes spin {
  to {
    border-top-color: var(--danger);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: var(--danger);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* map filter */

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.custom-filter-dropdown input {
  width: 100%;
}

.custom-filter-dropdown button {
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

dt {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
}
dd {
  width: 100px;
  overflow: hidden;
}

dt:after {
  content: ' ..................................................................................';
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  height: auto;
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: var(--dark-gray);
  /* padding: 16px; */
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: var(--dark-gray);
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: var(--dark-gray);
  background: var(--dark-gray);
}

.ant-table-pagination {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 48em) {
  .vert {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    height: 8rem;
  }

  thead[class*='ant-table-thead'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  thead[class*='ant-table-thead'] tr {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  thead[class*='ant-table-thead'] tr th {
    width: 100%;
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }

  thead[class*='ant-table-thead'] th div {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    height: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }

  tbody[class*='ant-table-tbody'] tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  tbody[class*='ant-table-tbody'] tr td {
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
