.example1-appear {
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  transform: translateX(120%);
  -webkit-transition: 1s;
  transition: 1s;
}

.example1-appear.example1-appear-active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.example2-appear {
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  transform: translateX(120%);
  -webkit-transition: 2s;
  transition: 2s;
}

.example2-appear.example2-appear-active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.example3-appear {
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  transform: translateX(120%);
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

.example3-appear.example3-appear-active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.slideinFromLeft-appear {
  -webkit-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  transform: translateX(-120%);

  -webkit-transition: 3s;

  transition: 3s;
}

.slideinFromLeft-appear.slideinFromLeft-appear-active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
