.Ripple {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.4);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.4);
  transform: translateX(-50%) translateY(-50%) scale(0.4);
  /* match durations with Ripple.js's DURATION */
  -webkit-transition: background 0.23s, -webkit-transform 0.23s;
  transition: background 0.23s, -webkit-transform 0.23s;
  transition: transform 0.23s, background 0.23s;
  transition: transform 0.23s, background 0.23s, -webkit-transform 0.23s;
}

.Ripple--in {
  background: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.7);
  transform: translateX(-50%) translateY(-50%) scale(0.7);
}

.Ripple--out {
  background: rgba(255, 255, 255, 0);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}
